@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "Inter";
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F55A5A;
    color: #fff;
}

.header--h3 {
    margin-left: 5px;
}